
# Virtual Environments
venv/
.env


# Data files
*.csv
*.json
*.txt
!requirements.txt
*.xlsx
*.xls
*.db
*.sqlite3
test.py

# Data folders
uploads/
waves/

# Data folders
uploads/
waves/

# Logs
logs/
*.log
.ipynb_checkpoints/
